.google_sso {
  display: inline-block;

  img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25px;
    background-color: $gray-darker;
  }

  input {
    padding: 1rem 1rem 1rem 6rem;
    border-radius: 6px;
    border: transparent;
  }
}

.openid-connect-login-form form,
.openid-connect-login-form {
  position: relative;
}

.openid-connect-login-form {
  overflow: hidden;
}
