$primary: #ffda6a;
$dark: #0a3622;
$font-size-base: 1.125rem;
$body-bg: $dark;
$body-color: #d1e7dd;
$form-text-color: #75b798;
$input-placeholder-color: #75b798;
$input-border-radius: 0.25rem;
$input-color: #fff;
$input-bg: #146c43;
$input-border-color: #0a3622;
$font-family-base: 'Silkscreen', cursive;
$list-group-bg: transparent;
$list-group-color: #d1e7dd;
$list-group-border-color: #75b798;