<div class="wrapper">
  <div class="container-sm " style="max-width: 600px">
    <main class="">
      <h1 class="mb-5">Karaoke</h1>
      <h2>Requested Today</h2>
      <ul class="list-group list-group-flush mb-5">
        <li class="list-group-item">
          <img style="width: 20px; height: 20px;" class="rounded-circle" src="https://www.fourkitchens.com/wp-content/uploads/2020/03/Allan.jpg" alt="">
          <span>Band Name</span>
          —
          <span class="text-white">Song title</span>
        </li>
        <li class="list-group-item">
          <img style="width: 20px; height: 20px;" class="rounded-circle" src="https://www.fourkitchens.com/wp-content/uploads/2020/03/Allan.jpg" alt="">
          <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, eum!</span>
          —
          <span class="text-white">Song title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, labore?</span>
        </li>
        <li class="list-group-item">
          <img style="width: 20px; height: 20px;" class="rounded-circle" src="https://www.fourkitchens.com/wp-content/uploads/2020/03/Allan.jpg" alt="">
          <span>Band Name</span>
          —
          <span class="text-white">Song title</span>
        </li>

      </ul>
      <form>
        <div class="mb-3">
          <label for="songSearch" class="form-label">Search by Song or Artist</label>
          <input type="text" class="form-control form-control-lg" id="songSearch" aria-describedby="songHelp" placeholder="Enter a song or artist">
        </div>
        <div class="mb-3">
          <label for="songSort" class="form-label">Sort</label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="songSort">
            <option selected>Artist</option>
            <option value="1">Song</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3 btn-lg">Search</button>
      </form>
    </main>
  </div>
  <footer class="bg-dark p-5">
    This is the footer.
  </footer>
  {% include "../bkg/bkg.twig" %}
</div>
