ul {
  @include list-reset;

  list-style-type: disc;
}

ol {
  @include list-reset;

  list-style-type: decimal;
}

.text-field {
  li {
    padding-left: $space;
  }
}

ul.list-reset li {
  @include list-reset;
}
