.song-book {
  color: inherit;

  .song-book-rapper {
    background: $green-light;
    border-radius: 5px;
    color: $dark;
    padding: 0.5rem;
    margin-bottom: 3rem;

    .views-row {
      border-bottom: 1px solid transparentize($dark, 0.8);
      padding: 1rem 0.5rem;
      font-size: 1rem;
      line-height: 1.3;
    }

    .views-label {
      font-weight: bold;
    }

    .views-field-song-name {
      .field-content {
        font-style: italic;
      }
    }

    .btn-group-sm > .btn-primary.btn,
    .btn-primary.btn-sm {
      font-size: 0.8rem;
      padding: 0.8rem 1.2rem;
      line-height: 1.2;
    }
  }
}

#views-exposed-form-4k-song-book-song-book-page .form-radios {

  .form-item__label {
    padding: 0;
  }
  .form-item:first-child {
    margin-right: 1rem;
  }
}
