//
// General Layout
//

$sidebar-width: 33%;
$gutter: $space;
$main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));

body {
  background: $dark;
  color: $white;
  font-family: $font-body;
  font-size: 16px;
}

.layout-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
