/* Toggle */
.toggle-expand {
  @include link;

  display: block;
  padding: $space;
  text-decoration: none;
  // give the toggle expand a width and height to avoid logo resize and page shift due to differing icon/text dimensions.
  width: 140px;
  height: 125px;

  /* See main-menu.js */
  &--open {
    background-color: clr(accent);
  }
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;

  .toggle-expand--open & {
    color: clr(background);
  }
}

/* SVG icon */
.toggle-expand__icon {
  fill: $white;
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.toggle-expand__open {
  display: block;
  text-align: center;

  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;

  &::before {
    content: 'X';
    color: clr(background);
    display: block;
    font-size: 2.5rem;
  }

  .toggle-expand--open & {
    display: block;
  }
}
