{% set buttonImage = buttonImage|default('../../../images/mario-coin.gif') %}

<button type="submit" class="btn btn-primary mt-3 btn-lg coin-button"> 
  Search
  <img src={{buttonImage}} alt="" class="coin-button__animation">
</button> 