// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Project
$dark: #3b3b3b;
$dark-medium: #94948c;
$dark-light: #dcdccd;
$green: #34aa4d;
$green-darker: #2b8831;
