.song-request-quick {
  p {
    color: $dark-light;
    font-size: 0.9rem;
    text-transform: uppercase;

    em {
      text-transform: none;
      font-size: 1.3rem;
      font-style: normal;
    }
  }

  .fieldgroup {
    margin-top: 2rem;
  }
}
