.header {
  text-align: center;
  position: relative;
  max-width: 1224px;
  margin: 2em auto 4.5rem;
  z-index: 5;

  &__branding {
    flex: 0 250px;
  }

  &__branding img {
    display: block;
    padding: 1rem 1rem 0;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5));
    transition: all 0.25s;
    width: 250px;

    @include medium {
      width: 100%;
      max-width: 300px;
    }
  }
}

.menu-toggle {
  color: #fff;
  width: 23px;
  height: 27px;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  transition: all 0.25s;
  z-index: 100;

  &:hover {
    opacity: 0.8;
    transform: scale(1.35);
  }
}

.header__primary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  flex: 0 auto;
}
