<footer class="footer">
  <p>
    Made with ❤️ by
    <a href="https://twitter.com/general_redneck">@general_redneck</a> &amp;
    <a href="https://twitter.com/amazingrando">@amazingrando</a>
  </p>
</footer>
