//  Empty
.header {
  background: url("../images/confetti.svg") repeat-x 0 -12px;
  text-align: center;
  position: relative;
  margin-bottom: 4.5rem;
}

.logo {
  display: inline;
  padding: 1rem 1rem 0;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5));
  transition: all 0.25s;
  transform: scale(1.15) rotate(-5deg);
}

.menu-toggle {
  color: $white;
  width: 23px;
  height: 27px;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  transition: all 0.25s;

  &:hover {
    opacity: 0.8;
    transform: scale(1.35);
  }
}
